<div class="nav-side-menu">
    <div class="brand">KOKOMOㄴㄴ Games<br/><br/>Chatdmin</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            
            <!-- Overlord -->
            <li data-toggle="collapse" data-target="#main-navbar-overlord" class="">
                <a href="#"><i class="fa fa-list-alt fa-lg"></i> Overlord <span class="side_arrow"></span></a>
            </li>
            
            <ul class="sub-menu collapse in" id="main-navbar-overlord">
                <li><a href="#"> Admin / CS Tools </a></li>
                <li><a href="#"> QA Tools </a></li>
                <li><a href="#"> System Tools </a></li>
            </ul>
            
            <!-- User -->
            <li data-toggle="collapse" data-target="#topNavUser" class="">
                <a href="#"><i class="fa fa-user fa-lg"></i> User <span class="side_arrow"></span></a>
            </li>
            
            <ul class="sub-menu collapse" id="topNavUser">
                <li><a href="#"> Log In </a></li>
                <li><a href="#"> Settings </a></li>
            </ul>
            
            <!--
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="side_arrow"></span></a>
            </li>
            
            <ul class="sub-menu collapse" id="products">
                <li><a href="#">CSS3 Animation</a></li>
            </ul>
            -->
        </ul>
    </div>
</div>